<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="beanPostProcessor01" class="com.zkn.newlearn.spring.lifecycle.BeanPostProcessor01" />

    <bean id="beanFactoryPostProcessor01" class="com.zkn.newlearn.spring.lifecycle.BeanFactoryPostProcessor01"/>

    <bean id="beanLifeCycleLearn01" class="com.zkn.newlearn.spring.lifecycle.BeanLifeCycleLearn01" >
        <property name="name" value="zhangsan"/>
    </bean>

    <bean id="InstantiationAwareBeanPostProcessor01" class="com.zkn.newlearn.spring.lifecycle.InstantiationAwareBeanPostProcessor01"/>

    <bean id="beanLifeCycleLearn02" class="com.zkn.newlearn.spring.lifecycle.BeanLifeCycleLearn02">
        <property name="userName" value="张三"/>
        <property name="passWord" value="222232323"/>
    </bean>
</beans>